<template>
  <div>
         <vue-cal
      style="height: 250px"
      :
      locale="th"
      action-view="week"
      :disabled-views="['years', 'year', 'month']"
      :events="event"
    />
      </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
export default {
  data () {
    return {
      events: [
        {
          start: '2020-03-03 20:40',
          end: '2020-03-03 21:40',
          title: 'อัดวิดิโอ',
          content: 'นั่งกัดฟันทำวิดิโอ',
          class: 'vdo_time'

        }
      ]
    }
  },
  computed: {
    th () {
      return th
    }
  },
  components: {
    VueCal
  }

}
</script>
.vuecal__now-line {color: #06c;} .vuecal__event.leisure
{background-color:rgba(253, 156, 66, 0.9);border: 1px solid rgb(233, 136,
46);color: #fff;} .vuecal__event.sport {background-color: rgba(255, 102, 102,
0.9);border: 1pxsolid rgb(235, 82, 82);color: #fff;}

<style></style>
